@using Microsoft.AspNetCore.Identity
@using RealEstateManagement.Data
@using Microsoft.EntityFrameworkCore
@inject SignInManager<User> signInManager
@inject AppDbContext dbContext
@inject UserManager<User> userManager

@{
    var unreadCount = 0;
    if (User.Identity.IsAuthenticated)
    {
        var userId = userManager.GetUserId(User);
        unreadCount = await dbContext.Inquiries
            .CountAsync(i => i.ReceiverId == userId && !i.IsRead);
    }
}
<header id="header" class="transparent-header-modern fixed-header-bg-white w-100">
    <div class="top-header bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="top-contact list-text-white  d-table">
                        <li><a href="#"><i class="fas fa-phone-alt text-success mr-1"></i>+1 111-111-1111</a></li>
                        <li><a href="#"><i class="fas fa-envelope text-success mr-1"></i>realestate@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="top-contact float-right">
                        <ul class="list-text-white d-table">
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li>
                                    <i class="fas fa-user text-success mr-1"></i>
                                    <a asp-controller="Account" asp-action="Logout">Logout</a>&nbsp;&nbsp;
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-controller="Account" asp-action="Login">Login</a>&nbsp;&nbsp;
                                    |
                                </li>
                                <li><i class="fas fa-user-plus text-success mr-1"></i><a asp-controller="Account" asp-action="Register"> Register</a></li>
                            }

                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-nav secondary-nav hover-success-nav py-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <a class="navbar-brand position-relative" asp-controller="home" asp-action="index" ><img class="nav-logo" src="@Url.Content("~/images/logo/restatelg.png")" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" asp-controller="home" asp-action="index" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="about" asp-controller="Home" >About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="property" asp-action="allproperties">Properties</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="agent" asp-controller="Home">Agent</a>
                                </li>
                                
                                @if (signInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Account" asp-action="profile" >Profile</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Account" asp-action="changepassword">Change Password</a>
                                            </li>

                                     
                                        </ul>
                                    
                                    </li>
                                }
                            </ul>
                            <a asp-action="Index" asp-controller="Inquiry" class="btn btn-success position-relative">
                                View Inquiries
                                @if (unreadCount > 0)
                                {
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        @unreadCount
                                    </span>
                                }
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>