@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;

<ul>
    @if (signInManager.IsSignedIn(User))
    {
        <li>
            <form asp-controller="Account" asp-action="Logout" method="post">
                @Html.AntiForgeryToken()
                <button type="sumbit">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a asp-controller="Account" asp-action="Login">Login</a>
            <a asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }

</ul>