@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

 <!--	About Our Company -->
<div class="full-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h3 class="double-down-line-left text-secondary position-relative pb-4 mb-4">About Us</h3>
            </div>
        </div>
        <div class="row about-company">
            <div class="col-md-12 col-lg-7">
                <div class="about-content">
                    Content about the company goes here.
                </div>
            </div>
        </div>
    </div>
</div>